*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(252, 140, 196);
    color: #333;
    text-align: center;
    line-height: 3;
}

.section{
    padding: 40px 20px; 
}

.hero{
    padding: 50px 20px 
}

.hero h1{
    font-size: 32px;
}

.grid {
    display:grid;
    gap: 10px;
}

.grid div{
    background-color:rgb(241, 89, 122);
    padding: 20px;
    border-radius:40px;
}